<hr>
<footer class="footer_content">
    <p style="font-weight:lighter;">Meet me in Cyberspace</p>
    <div class="footer_icons">
        <a class="fi"
           href="{{ printf "%s" .Site.Params.githublink }}">
            <i class="fa fa-github-square fa-2x"></i>
        </a>
        <a class="fi"
           href="{{ printf "%s" .Site.Params.twitterlink }}">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a class="fi"
           href="{{ printf "%s" .Site.Params.emaillink }}">
            <i class="fa fa-paper-plane fa-2x"></i>
        </a>
        <a class="fi"
           href="{{ printf "%s" .Site.Params.resumelink }}">
            <i class="fa fa-linux fa-2x"></i>
        </a>        
    </div>
</footer>
</html>
